---
import BaseLayout from "./BaseLayout.astro";
import ArticleRainbowTitle from "../components/ArticleRainbowTitle.astro";
const { slug, title, summary } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" href="/favicon.ico" />
  <title>{title}</title>
  
  <!-- OGP -->
  <meta property="og:url" content=`${Astro.url}` />
  <meta property="og:type" content="article" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={summary} />
  <meta property="og:image" content=`${Astro.url.origin}/images/${slug}.png` />
</head>

<BaseLayout pageTitle={title}>
  <article>
    <ArticleRainbowTitle {title} />
    <slot />
  </article>
</BaseLayout>

<style>
  article {
    padding: 10px;
    border: 1px solid var(--subtitle-color);
    box-shadow:
      2px 2px 0 var(--subtext-color),
      4px 4px 0 var(--title-color);
    background-color: #e5edc8;
  }
</style>
